
<div class="row">
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-10">
                <h3>Azure Managed Identity Map</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div id="map" style="width: 100%; height: 400px"></div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" />
<script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>
<script>
    var resolveFunc = null;
    var rejectFunc = null;
    function tokenResolver() {
        if (this.readyState === 4 && this.status === 200) {
            resolveFunc(this.responseText);
        } else if (this.status !== 200) {
            rejectFunc(this.responseText);
        }
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    var map = new atlas.Map("map", {
        center: [-122.33, 47.64],
        zoom: 12,
        language: "en-US",
        authOptions: {
            authType: "anonymous",
            clientId: "bde2322c-4f3e-494d-bc31-fa68db51d5f4",
            getToken: function (resolve, reject, map) {
                var xhttp = new XMLHttpRequest();
                var url = "/api/token";
                resolveFunc = resolve;
                rejectFunc = reject;
                xhttp.open("GET", url, true);
                xhttp.setRequestHeader("Authorization", 'Bearer ' + getCookie("Authorization"));
                xhttp.onreadystatechange = tokenResolver;
                xhttp.send();
            }
        }
    });
    map.events.add("tokenacquired", function () {
        console.log("token acquired");
    });
    map.events.add("error", function (err) {
        console.log(JSON.stringify(err.error));
    });
</script>